html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    padding: 0;
    margin: 0;
}
body {
    background-color: #FAFAFA;
    font: 12px/1.5 "微软雅黑", "黑体";
    color: #666;


}

.header-wrap {
    width: 99%;
    height: 80px;
    border-bottom: solid 2px #F5F5F5;
    margin: 5px auto 0 auto;
    position: relative;
    z-index: 100;
    background-color: #fff;

}
.header-wrap .wrapper {
    width: 1000px;
}
.public-head-layout {
    height: 80px;
}
.wrapper {
    width: 1200px;
    margin: auto;
}
.public-head-layout .site-logo {
    margin: 10px 0 0 0;
    width: 240px;
    height: 68px;
    float: left;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a {
    color: #06C;
    outline: medium none;
}
fieldset, img {
    border: medium none;
    vertical-align: middle;
}
.public-head-layout .nc-regist-now .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.public-head-layout .site-logo img {
    width: 240px;
    height: 68px;
}
.public-head-layout .nc-regist-now {
    font-size: 14px;
    color: #AAA;
    line-height: 20px;
    float: right;
    height: 40px;
    margin-top: 30px;
}
.public-head-layout .nc-regist-now .avatar {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border-radius: 100%;
}
.public-head-layout .nc-regist-now span {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.public-head-layout .nc-regist-now a {
    font-weight: 600;
    margin-left: 4px;
}
.nc-login-layout {
    width: 1000px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 600px;
}
.nc-login-layout .left-pic {
    width: 450px;
    height: 350px;
    float: left;
    margin: 30px 0;
    position: relative;
    z-index: 1;
}
.nc-login-layout .left-pic img {
    max-width: 450px;
    max-height: 350px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.nc-login {
    background-color: #FFF;
    width: 440px;
    padding: 19px 19px 29px 19px;
    border: solid 1px #E6E6E6;
    border-radius: 5px;
    float: right;
    position: relative;
    z-index: 1;
}
.nc-login .arrow {
    background: url(../images/login_pic.png) no-repeat -280px 0;
    width: 17px;
    height: 9px;
    position: absolute;
    z-index: 1;
    top: -9px;
    left: 160px;
}
.nc-login-mode {
    overflow: visible;
}
.tabs-nav {
    font-size: 0;
    word-spacing: -1em;
    border-bottom: solid 1px #E6E6E6;
}
ul, ol {
    list-style: none outside none;
}
.tabs-nav li {
    vertical-align: bottom;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    display: inline-block;
    *display: inline;
    width: 50%;
    height: 40px;
    margin-bottom: -1px;
    *zoom: 1;
}
.tabs-nav li a.tabulous_active {
    color: #FF500B;
    display: block;
    border-bottom: 3px solid #FF500B;
}
.tabs-nav li a:hover {
    text-decoration: none;
    color: #000;
}
.tabs-nav li a {
    font-size: 18px;
    color: #999;
    line-height: 24px;
    padding-bottom: 13px;
    position: relative;
    z-index: 1;
    font-family: "微软雅黑";
}
.tabs-nav li a.tabulous_active i {
    display: block;
}
.tabs-nav li a i {
    font-size: 0;
    line-height: 0;
    border-color: #FF500B transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 7px;
    display: none;
    width: 0;
    height: 0;
    margin-left: -4px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -17px;
}
.tabs-nav li a {
    font-size: 18px;
    color: #999;
    line-height: 24px;
    padding-bottom: 13px;
    position: relative;
    z-index: 1;
    font-family: "微软雅黑";
}
.tabulousclear {
    display: block;
    clear: both;
}
.nc-login .tabs-container {
    margin-top: 30px;
    padding: 0 40px 20px 40px;
}
.nc-login .tabs-content {
    width: 352px;
}
.nc-login .err-msg {
    line-height: 24px;
    padding: 8px 20px 8px 20px;
    background: #FFF5D9 no-repeat 0 0;
}
.nc-login .err-msg i {
    font-size: 18px;
    margin-right: 10px;
    color: #FF500B;
    vertical-align: middle;
}
i[class*="fa"] {
    font-size: 14px;
    margin-right: 4px;
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i, cite, em {
    font-style: normal;
}
.nc-login-form {
    display: block;
}
.nc-login .nc-login-form dl {
    width: 348px;
}
.nc-login-form dl {
    background-color: #FFF;
    width: 398px;
    height: 52px;
    margin-top: -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
}
.nc-login-form dl dt {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    width: 88px;
    padding: 16px 0 16px 20px;
    float: left;
}
.nc-login-form dl dd {
    height: 28px;
    float: left;
    padding: 12px 0;
}
.nc-login-form dl dd .text {
    font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 28px;
    width: 290px;
    height: 28px;
    padding: 0;
    border: none 0;
}
input[type="text"], input[type="password"], input.text, input.password {
    font: 12px/1.5 "微软雅黑", "黑体","\5b8b\4f53",sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-family: "微软雅黑", "黑体", "宋体", sans-serif;
    color: #777;
    background-color: #FFF;
    vertical-align: top;
    display: inline-block;
    min-height: 20px;
    padding: 5px;
    border: solid 1px #E6E9EE;
    outline: 0 none;
}
input, button, select, textarea {
    outline: none;
}
.nc-login-form .code-div {
    width: 100%;
    height: 54px;
}
.nc-login .nc-login-form .code-div dl {
    width: 228px;
}
.nc-login-form .code-div dl {
    width: 277px;
    float: left;
}
.nc-login-form .code-div span img {
    width: 120px;
    height: 52px;
}
.nc-login-form .code-div span a {
    font-size: 14px;
    text-decoration: none;
    line-height: 52px;
    color: #FFF;
    background: rgba(0,0,0,0.5);
    text-align: center;
    display: none;
    width: 120px;
    height: 52px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.nc-login .nc-login-form .handle-div {
    line-height: 20px;
    margin-top: 15px;
    overflow: hidden;
}
.nc-login .nc-login-form .handle-div .auto {
    color: #999;
    float: left;
}
.nc-login .nc-login-form .handle-div .auto .checkbox {
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.checkbox, .radio {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
input, select, textarea {
    font: 12px/20px "微软雅黑", "黑体";
}
.nc-login .nc-login-form .handle-div .auto em {
    line-height: 20px;
    color: #ff3238;
    vertical-align: top;
    display: inline-block;
    margin-left: 6px;
}
.nc-login .nc-login-form .handle-div .forget {
    float: right;
}
.nc-login-form .submit-div {
    margin-top: 15px;
}
.nc-login .nc-login-form .submit-div .submit {
    width: 348px;
}
.nc-login-form .submit-div .submit {
    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    background-color: #FF500B;
    width: 398px;
    height: 42px;
    border: solid 1px #F15C18;
    border-radius: 3px;
    cursor: pointer;
}
.hideleft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    display: none\9;
}
.showleft {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    display: block\9;
}
.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.nc-login-form {
    display: block;
}
.nc-login .nc-login-form dl {
    width: 348px;
}
.nc-login-form dl {
    background-color: #FFF;
    width: 398px;
    height: 52px;
    margin-top: -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
}
.nc-login-form dl dt {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    width: 88px;
    padding: 16px 0 16px 20px;
    float: left;
}
.nc-login .nc-login-form dl dd .text {
    width: 240px;
}
.nc-login-form .code-div {
    width: 100%;
    height: 54px;
}
.nc-login .nc-login-form .code-div dl {
    width: 228px;
}
.nc-login-form .code-div dl {
    width: 277px;
    float: left;
}
.nc-login-form .tiptext {
    line-height: 20px;
    color: #999;
    margin: 15px 0;
}
.nc-login-form .tiptext a {
    line-height: 22px;
    color: #FFF;
    background-color: #21b384;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 2px;
}
.nc-login-form .tiptext a i {
    font-size: 14px;
    margin-right: 4px;
}
.nc-login-form .submit-div {
    margin-top: 15px;
}
.nc-login-api {
    font-size: 0;
    *word-spacing: -1px;
    width: 340px;
    margin: 0 auto;
}
.nc-login-api h4 {
    font-size: 12px;
    line-height: 20px;
    color: #333;
    font-weight: 600;
    height: 20px;
    margin-bottom: 10px;
}
.nc-login-api a {
    font-size: 12px;
    text-decoration: none;
    color: #AAA;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    height: 32px;
    margin-right: 24px;
    *zoom: 1;
}
.nc-login-api a.wx i {
    background-position: -64px 0;
}
.nc-login-api a i {
    background: url(../images/login_pic.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    *zoom: 1;
}
.nc-login-layout .left-pic img {
    max-width: 450px;
    max-height: 350px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.tabs-container {
    position: relative;
    z-index: 1;
}
.w100 {
    width: 100px !important;
}
#weixinLogin:hover{
    color: #21b384;
}

#weixinLogin:hover i{
    background-position: -160px 0;
}
