label.error{
    color: red;
    position: absolute;
    left: -75px;
    height: 0;
}
.public-head-layout .nc-login-now {
    font-size: 14px;
    color: #AAA;
    line-height: 24px;
    float: right;
    height: 24px;
    margin-top: 50px;
}
.public-head-layout .nc-login-now a {
    font-weight: 600;
    margin-left: 4px;
    font-family: "微软雅黑";
}
a {
    color: #06C;
}
.nc-register-bg {
    background: #FAFAFA url(../img/register_bg.png) repeat 50% 50%;
    width: 100%;
    height: 680px;
    overflow: hidden;
}
.nc-register-box {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#26000000', endColorstr='#26000000');
    background: rgba(0,0,0,0.15);
    width: 860px;
    height: 560px;
    padding: 10px;
    margin: 60px auto;
}
.nc-register-layout {
    background-color: #FFF;
    display: block;
    width: 820px;
    height: 520px;
    padding: 19px;
    border: solid 1px #CCC;
    overflow: hidden;
}
.nc-register-layout .left {
    width: 600px;
    height: 520px;
    float: left;
}
.nc-register-mode {
    width: 580px;
}
.tabs-nav {
    font-size: 0;
    word-spacing: -1em;
    border-bottom: solid 1px #E6E6E6;
}
.tabs-nav li {
    vertical-align: bottom;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    display: inline-block;
    *display: inline;
    width: 50%;
    height: 40px;
    margin-bottom: -1px;
    *zoom: 1;
}
.tabs-nav li a {
    font-size: 18px;
    color: #999;
    line-height: 24px;
    padding-bottom: 13px;
    position: relative;
    z-index: 1;
    font-family: "微软雅黑";
}
.tabs-nav li a i {
    font-size: 0;
    line-height: 0;
    border-color: #FF500B transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 7px;
    display: none;
    width: 0;
    height: 0;
    margin-left: -4px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -17px;
}
.tabs-container {
    position: relative;
    z-index: 1;
}
.nc-register-mode .tabs-content {
    padding: 50px 80px 0 100px;
}
.nc-login-form {
    display: block;
}
.nc-login-form dl {
    background-color: #FFF;
    width: 398px;
    height: 52px;
    margin-top: -1px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
}
.nc-login-form dl dt {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    width: 88px;
    padding: 16px 0 16px 20px;
    float: left;
}
.nc-login-form dl dd {
    height: 28px;
    float: left;
    padding: 12px 0;
}
.nc-login-form dl dd .text {
    font-family: "microsoft yahei";
    font-size: 14px;
    line-height: 28px;
    width: 290px;
    height: 28px;
    padding: 0;
    border: none 0;
}
.nc-login-form .clause-div {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    width: 400px;
    height: 30px;
    margin-top: 15px;
    border: none 0;
}
.nc-login-form .clause-div dd {
    padding: 0;
    height: auto;
}
.nc-login-form .clause-div .checkbox {
    vertical-align: middle;
    margin-right: 8px;
}
.nc-register-layout .right {
    width: 200px;
    height: 500px;
    float: right;
    padding: 20px 0 0 19px;
    border-left: solid 1px #E6E6E6;
}
.nc-register-layout .right h4 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px;
    color: #333;
}
.nc-register-layout .right .reister-after li {
    color: #999;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 12px;
}
.nc-register-layout .right .reister-after .ico01 i {
    background-position: 0 -76px;
}
.nc-register-layout .right .reister-after .ico02 i {
    background-position: -30px -76px;
}
.nc-register-layout .right .reister-after .ico03 i {
    background-position: -60px -76px;
}
.nc-register-layout .right .reister-after .ico05 i {
    background-position: -120px -76px;
}
.nc-register-layout .right .reister-after .ico06 i {
    background-position: -150px -76px;
}
.nc-register-layout .right .reister-after i {
    background: url(../images/login_pic.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

